NODE_ENV = "development"

APP_NAME="Shop App"
APP_HOST="https://localhost:3000"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:user@localhost:5432/table?schema=public"

NEXTAUTH_URL="https://localhost:3000"
NEXTAUTH_SECRET="RandomString"

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_DRIVE_API_KEY=
GOOGLE_ADMIN_EMAIL=
GOOGLE_REDIRECT_URL=

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

NEXT_PUBLIC_HOST="https://localhost:3000"


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# the interval in milliseconds over which the rate limit data will be reset
# default 3600000 = 1 hour
RATE_LIMIT_INTERVAL_IN_MS=3600000
# the number of orders a user is allowed to submit per the set interval
# default 5
RATE_LIMIT_ORDERS_PER_INTERVAL=5;
# the number of requests a user is allowed to fire per hour
# default 500
RATE_LIMIT_REQUESTS_PER_INTERVAL=500;



SMTP_HOST=smtp-relay.smtphost.com
SMTP_PORT=587
SMTP_USER=email@host.com
SMTP_PASSWORD=password


NOTIFICATION_CHANNEL_NAME="channelName"


