{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn"],
  "tailwindAttributes": [
    "class",
    "className",
    "ngClass",
    "overlayClassName",
    "loaderClassName",
    "nextClassName",
    "nextLinkClassName",
    "pageClassName",
    "pageLinkClassName",
    "previousClassName",
    "previousLinkClassName",
    "activeClassName",
    "activeLinkClassName",
    "disabledLinkClassName",
    "disabledClassName",
    "breakClassName",
    "breakLinkClassName"
  ]
}
